.nav-link-arrow {
    display: flex;
    margin-left: 3px;
    font-size: 10px;
}

.navigation-link:hover .nav-submenu-container {
    opacity: 1;
    visibility: visible;
    transform: translateY(178px);
}

 .navigation-link:hover {
    border-bottom: solid 4px black;
}

.navigation-link {
    border-bottom: solid 4px transparent;
    transition: .4s;
    cursor: pointer;
    -webkit-touch-callout: none; 
    -webkit-user-select: none; 
     -khtml-user-select: none; 
       -moz-user-select: none; 
        -ms-user-select: none; 
            user-select: none; 
}
