.hero-container {
    background-image: url(/src/assets/img//hero-slider-1.jpg);
    margin-top: -88px;
    max-height: 820px;
    height: 820px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: black;
    }

    .hero-container h1,
    h3,
    button {
        display: block;
        text-align: left;
        margin-left: 200px;
    }

    .hero-container h3 {
        color: rgb(241, 241, 241);
        font-size: 36px;
    }
    .hero-container h1 {
        color: rgb(241, 241, 241);
        font-size: 76px;
    }

    .hero-container button {
        width: 200px;
        height: 64px;
        font-size: 24px;
        text-align: center;
        color: #282c34;
        background-color: #fabc3d;
        border: 0px;
}