.hero-container {
    background-image: url(/src/assets/img//hero-slider-1.jpg);
    margin-top: -48px;
    max-height: 820px;
    height: 820px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: black;
   
}