.section-service-content {
    display: flex;
    width: 1200px;
    margin-top: 120px;
}

.section-service-content h3 {
    font-size: 32px;
    color: rgb(43, 45, 55);
    font-weight: 400;
}

.section-service-content h2 {
    margin-top: 10px;
    font-size: 38px;
    color: rgb(43, 45, 55);
    font-weight: 600;
    line-height: 1;
}