.section-about-content {
    display: flex;
    max-width: 1200px;
    width: 1200px;
    height: 400px;
    margin-top: 120px;
}

.section-about-content-text {
    padding: 0 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;

}

.section-about-content-text h3 {
    font-size: 32px;
    color: rgb(43, 45, 55);
    font-weight: 400;
}

.section-about-content-text h2 {
    margin-top: 10px;
    font-size: 38px;
    color: rgb(43, 45, 55);
    font-weight: 600;
    line-height: 1;
}

.section-about-content-text p {
    color: rgb(43, 45, 55);
    font-size: 20px;
    font-weight: 500;
}

.section-about-content-text button {
    width: 120px;
    height: 40px;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    color: rgb(43, 45, 55);
    background-color: #fabc3d;
    border: 0px;
    margin-top: 20px;
}

.section-about-content-text button:hover {
    color: rgb(241, 241, 241);
    background-color: #282c34;
    border: 0px;
    margin-top: 20px;
    cursor: pointer;
}
