.nav-search-field-container {
    display: flex;
    position: absolute;
    top : 78px;
    right: 0;
    transition: .4s;
    overflow:hidden;
    height: 50px;

}

.nav-search-field-container input {
    height: 50px;
    border: 0;
    font-size: 18px;
    padding: 0 15px;
}

.nav-search-field-container button {
    background-color: #fabc3d;
    height: 50px;
    width: 50px;
    border: 0;
    outline: 0;
}

.nav-search-field-container button:hover svg {
    filter: invert(100%);
}

.nav-search-field-container.hidden{
    height: 0px;
}
