.nav-search-container {
    display: flex;
    align-items: center;
    border-left: dashed 2px black;
    padding: 20px;
    margin: 12px 0;
    width: 30px;
    transition: .4s;
    position: relative;
}

.nav-search-container svg {
    cursor: pointer;
}